<div class="limiter">

  <div class="container-login100" style="background-image: url('../../../../assets/images/bg-01.jpg');">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">

      <h1>Dashboard</h1>
      <hr>

      <h3>User</h3>
      <pre>{{user() | json}}</pre>

    <br>
    <div class="container-login100-form-btn p-t-39">
      <div class="wrap-login100-form-btn">
        <div class="login100-form-bgbtn"></div>

        <button
          class="login100-form-btn"
          (click)="onLogout()"
        >
          Cerrar Sesión
        </button>
      </div>
    </div>
  </div>

</div>
